<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row w-100 justify-content-around">
      <!-- Existing navbar items -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="bi bi-list-ol"></i> <span class="nav-text">Leaderboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends">
          <i class="bi bi-people"></i> <span class="nav-text">Friends</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exercises">
          <i class="bi bi-plus-square"></i> <span class="nav-text">Add Exercise</span>
        </a>
      </li>
      <!-- Conditional rendering for login/logout -->
      {{#unless loggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="bi bi-box-arrow-in-right"></i> <span class="nav-text">Login</span>
          </a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            <i class="bi bi-box-arrow-right"></i> <span class="nav-text">Logout</span>
          </a>
          <form id="logout-form" action="/logout" method="POST" style="display: none;">
            <input type="submit" value="Logout" />
          </form>
        </li>
      {{/unless}}
    </ul>
  </div>
</nav>
