{{!-- Show mobile nav at bottom if "mobile" is true --}}
{{#if mobile}}
  {{> nav}}
{{/if}}

<footer class="text-center text-muted w-100 mt-auto">
  <p>&copy; Copyright 2025 : Gymtendo</p>
</footer>

<!-- Bootstrap JS Bundle (for dropdowns, modals, etc.) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../resources/js/script.js"></script>

</body>
</html>
