<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row w-100 justify-content-around">
      {{!-- Start of navbar items, change order as needed. --}}
      <li class="nav-item">
        {{!-- Here I am assuming that the default page is the leaderboard. Change as needed. --}}
        <a class="nav-link" href="/leaderboard">
          <i class="bi bi-list-ol"></i> <span class="nav-text">Leaderboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends">
          <i class="bi bi-people"></i> <span class="nav-text">Friends</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">
          <i class="bi bi-plus"></i> <span class="nav-text">Add Exercise</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/boss">
          <i class="bi bi-emoji-angry"></i> <span class="nav-text">Boss</span>
        </a>
      </li>
      {{!-- Variable "login" should be true if user is logged in and false otherwise --}}
      <li class="nav-item">
        {{#if login}}
        <a class="nav-link" href="/login">
          <i class="bi bi-box-arrow-in-left"></i> <span class="nav-text">Login</span>
        </a>
        {{else}}
        <a class="nav-link" href="/logout">
          <i class="bi bi-box-arrow-right"></i> <span class="nav-text">Logout</span>
        </a>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>