/* If on mobile, have navbar display only icons at bottom of page */
@media (max-width: 768px) {
    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-text {
        display: none;
    }

    .nav-link {
        text-align: center;
        padding: 10px;
    }

    /* Footer raised a little higher so that it doesn't overlap with the navbar on mobile */
    footer {
        padding-bottom: 60px;
    }
}

/* If on desktop, have navbar display icons and text at top of page */
@media (min-width: 769px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    /* Body pushed a little lower so that it doesn't overlap with the navbar on desktop */
    main, .content, body {
        padding-top: 60px;
    }
}

/* Styling for images and image cards */
.image-card {
    max-width: 300px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* Makes progress bar text black and float in the middle of the bar */
.progress-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    z-index: 1;
}

/* Visual improvements for the progress bar size and the label relative to the bar */
.progress {
    position: relative;
    height: 1.5rem;
    overflow: hidden;
    flex-grow: 1;
}

.progress-label {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    min-width: 40px;
}

.progress-bar {
    width: 0%;
    transition: width 0.5s ease-in-out;
}