{{!-- views/pages/leaderboard.hbs --}}
<div class="container mt-5">
  <h1 class="mb-4">Leaderboard</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col">XP</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{incremented @index}}</td>
        <td>{{username}}</td>
        <td>{{xp}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>